/* GERAL */

* {
  margin: 0;
  padding: 0;
} 

html,
body {height: 100%;}

body {
  background-color: #41414D;
  color: #ffffff;
  font-family: 'Fugaz One', cursive;
}

.progress {
  background-color: #d14d4d;
  bottom: 0;
  left: 0;
  position: absolute;
  transition-duration: 1s;
  width: 100%;

  -webkit-box-shadow: inset 0px 14px 20px -7px rgba(0,0,0,.4);
  -moz-box-shadow: inset 0px 14px 20px -7px rgba(0,0,0,.4);
  box-shadow: inset 0px 14px 20px -7px rgba(0,0,0,.4);
}

main {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

/* DISPLAY */
.display {
  font-size: 12vh;
  letter-spacing: 10px;
  max-width: 500px; 
  text-shadow: 5px 0px 1px rgba(0,0,0,.7);
}

/* CONTROLS */
.controls__play {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Fugaz One', cursive;
  font-size: 24px;
  margin: 0 1em;
  padding: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .1s;
  width: 100px;
}

.controls__play:active {
  transform: scale(.9)
}

.controls__play::-moz-focus-inner {
  border: 0;
}

@media (min-width: 800px) {
  .display {
    font-size: 8vw;
  }
}