/* GERAL */

* {
  margin: 0;
  padding: 0;
} 

body {
  background-color: #d14d4d;
  color: #ffffff;
  font-family: 'Fugaz One', cursive;
}

main {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

.progress {
  transition: all .1s;
  background-color: #fff;
  left: 0;
  position: absolute;
  top: 0;
  height: 3px;
}

/* DISPLAY */
.display {
  font-size: 10vw;
  letter-spacing: 10px;
  max-width: 500px; 
  text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}

/* CONTROLS */
.controls__play,
.controls__reset {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'Fugaz One', cursive;
  font-size: 1.4vw;
  margin: 0 1em;
  padding: 5px;
  transition: all .1s;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.75);
  width: 100px;
}

.controls__play:hover,
.controls__reset:hover {
  background-color: #fff;
  color: #d14d4d;
  text-shadow: none;
}

.controls__play:active,
.controls__reset:active {
  transform: scale(.9)
}

.controls__play::-moz-focus-inner,
.controls__reset::-moz-focus-inner {
  border: 0;
}

